.image-with-text__media-img {
  width: 100%;
  object-fit: cover;
  position: relative;
}

.image-with-text__media {
  min-height: 60rem;
}

.image-with-text {
  position: relative;
}

.image-with-text__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.image-with-text__text-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-with-text__line {
  width: 100%;
  margin-bottom: 100px;
  max-width: 854px;
  display: block !important;
  border: 1px dashed rgb(var(--color-foreground));
}
