.box-build {
  min-height: 60rem;
  position: relative;
}

.box-build__content {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-build__content-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 44px;
  row-gap: 20px;
  margin-top: 73px;
  width: 100%;
}

.build-box-item__inner {
  border-radius: 20px;
  overflow: hidden;
}

.build-box-item {
  width: 100%;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.build-box-item:hover {
  transform: scale(1.05);
}

.build-box-item__content {
  position: absolute;
  top: 0;
  right: 25px;
  left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.build-box-item__content--left {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  font-size: 26px;
  font-weight: 500;
}

.build-box-item__content--right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.build-box-item__content-badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 84px;
  height: 84px;
  padding-top: 20px;
  color: rgb(var(--color-foreground));
  display: flex;
  font-weight: bold;
  justify-content: center;
  background: rgb(var(--color-secondary-text));
  clip-path: polygon(0 1%, 100% 0, 100% 100%, 50% 75%, 0 100%);
}

.build-box-item__content--right {
  color: rgb(var(--color-secondary-text));
}

.build-box-item__content-price {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-weight: bold;
  font-size: 24px;
}

.build-box-item__content-price span {
  line-height: 31px;
}

.build-box-item__content--left-number {
  font-size: 120px;
  color: rgb(var(--color-secondary-text));
}

@media screen and (min-width: 990px) {
  .build-box-item {
    width: 100%;
    max-width: 416px;
  }
}

.box-build__content-more {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-build-overlay {
  top: -299px;
  position: absolute;
  width: 100%;
  height: 300px;
  display: block !important;
  background: rgb(var(--color-background));
  background: rgb(23, 89, 172);
  background: linear-gradient(0deg, rgba(23, 89, 172, 1) 0%, rgba(23, 89, 172, 1) 42%, rgba(23, 89, 172, 0) 100%);
}
