.featured-slider {
  overflow: hidden;
  height: 100vh;
}

.fixed-parallax {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.featured-slider__item {
  position: relative;
  max-height: 100vh;
  height: 70rem;
}

.featured-slider__btn {
  position: fixed;
  top: 50%;
  z-index: 10;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transform: translateY(calc(-50% - var(--header-height) / 2));
  background-color: rgb(var(--color-button-text));
  color: rgb(var(--color-button));
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 50%;
  transition: opacity 0.3s ease;
}

.featured-slider__btn:hover {
  opacity: 100%;
}

.featured-slider__btn-prev {
  left: 10px;
}

.featured-slider__btn-next {
  right: 10px;
}

.featured-slider__item .featured-slider__item--image-background {
  object-fit: cover;
  width: 100%;
}

.featured-slider__item-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-slider__item-content-img {
  width: 100%;
  margin-top: 20px;
}

.featured-slider__item-content-img img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.featured-slider__item-content-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.featured-slider__button {
  width: fit-content;
  margin-top: 30px;
  height: 50px;
}

.featured-slider__item-content-bonus {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-top: 20px;
}

.featured-slider__item-content-bonus--item {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.featured-slider__item-content-bonus--item h1 {
  margin: 0;
}

@media screen and (min-width: 990px) {
  .featured-slider__item-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .featured-slider__item-content-img {
    width: 55%;
    margin-top: 0;
  }

  .featured-slider__item-content-info {
    width: 45%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
  }

  .featured-slider__button {
    margin-top: 50px;
    height: 77px;
  }

  .featured-slider__item {
    height: 100vh;
  }
  .featured-slider__item .featured-slider__item--image-background {
    height: 100%;
  }

  .featured-slider__item-content-bonus {
    margin: 55px 0 0 0;
    column-gap: 60px;
  }
}

.featured-slider__item--line {
  width: 4px;
  display: block !important;
  background: radial-gradient(circle, rgba(var(--color-button-text), 1) 0%, rgba(var(--color-button), 0) 100%);
}
