.box-build {
  min-height: 60rem;
  position: relative;
  overflow: hidden;
}

.box-build__content {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
