.image-with-text-2__media-img {
  margin-bottom: -10px;
  width: 100%;
  object-fit: cover;
}
.image-with-text-2__media {
  overflow: hidden;
}
.image-with-text-2 {
  position: relative;
}

.image-with-text-2__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.heading__title--title-3 {
  margin-top: 34px;
  color: rgb(var(--color-secondary-text));
}
