.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.contact__content {
  display: flex;
  flex-direction: column;
}

.contact__content-img {
  width: 100%;
}

.contact__content-info {
  width: 100%;
}

.contact__content-img img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .contact__content-img img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 50vw;
    max-width: 1110px;
  }

  .contact__content-info {
    width: 50%;
    padding-left: 38px;
    max-width: 570px;
    min-height: 700px;
  }

  .contact__content-img {
    width: 50%;
  }

  .contact__content {
    flex-direction: row;
  }

  .contact__button .button {
    height: 59px;
    font-weight: bold;
  }
}

.contact__content-description {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 59px;
}

.contact__content-title {
  margin: 0 0 4px;
}
