.testimonials-1 {
  position: relative;
  overflow: hidden;
}

.testimonials-1__media {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.testimonials-1__media-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials__content {
  position: relative;
  display: grid;
  row-gap: 84px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.testimonials__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials__content-heading {
  position: relative;
  display: flex;
  justify-content: center;
}

.testimonials__content-heading .title {
  margin-bottom: 107px;
  font-size: clamp(calc(var(--font-heading-scale) * 4rem), 9vw, calc(var(--font-heading-scale) * 5.8rem));
}

.testimonials__item-content {
  font-size: 12px;
  font-weight: 600;
  max-width: 166px;
  text-align: center;
}

.testimonials-1__media-img--desktop {
  display: none;
}

.testimonials-1__media-img--mobile {
  display: block;
}

@media screen and (min-width: 768px) {
  .testimonials__item-content {
    font-size: 16px;
  }

  .testimonials-1__media-img--desktop {
    display: block;
  }

  .testimonials-1__media-img--mobile {
    display: none;
  }
}
